body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: entradaNegra 2s ease-in-out forwards;
}

@keyframes entradaNegra {
    to {
        background-color: #CD853F;
    }
}

.imagen-tren {
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    opacity: 0;
    animation: aparecerImagen 2s ease-in-out 1s forwards;
}

@keyframes aparecerImagen {
    to {
        opacity: 1;
    }
}
