* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #CD853F;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header div {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header li {
    cursor: pointer;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('../IMG/locomotora.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}



.banner h1 {
    font-size: 48px;
    color: white;
}

.banner h3 {
    font-size: 24px;
    color: white;
}

.banner button {
    font-size: 18px;
    padding: 15px 30px;
}



button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.trailer {
    padding: 40px 20px;
    background-color: #753802;
    text-align: center;
}

.trailer h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.titu-episodio {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.personajes {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.personajes h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.personaje {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.personaje img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.personaje h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.personaje p {
    font-size: 14px;
    color: #666;
}

.trailer img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #CD853F;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

footer li {
    cursor: pointer;
}
